.group-pages {
  .content-one {
    padding:88px 0;
    text-align: center;
    .management-title {
      font-size: 32px;
      color: #484848;
      margin-bottom: 46px;
      font-size: 32px;
      padding-bottom: 6px;
      position: relative;
      &:after {
        content: '';
        width: 46px;
        height: 4px;
        background-color: #101010;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);       /* for Firefox */
        -ms-transform: translateX(-50%);        /* for IE */
        -o-transform: translateX(-50%);
      }
    }
    .group-list {
      text-align: left;
      width: 1000px;
      margin: 0 auto;
      .business-item{
        display: block;
        padding:30px;
        cursor: pointer;
        &:hover {
          box-shadow: 0 0 10px #f1f1f1;
          .left-content {
            background-color: #00a0e9;
            color: #fff;
            .big {
              color: #fff;
            }
          }
        }
      }
      .left-content {
        text-align: center;
        width: 113px;
        height: 113px;
        display: inline-block;
        vertical-align: middle;
        border: 1px solid #ededed;
        font-size: 22px;
        color: #484848;
        .big {
          font-size: 40px;
          color: #101010;
          padding-top: 10px;
        }
      }
      .right-info {
        width: 592px;
        margin-left: 45px;
        display: inline-block;
        vertical-align: middle;
        font-size: 24px;
        color: #101010;
        margin-bottom: 10px;
        .desc {
          height: 40px;
          font-size: 14px;
          color: #484848;
          padding-top: 10px;
          // display: -webkit-box;
          // -webkit-box-orient:vertical;
          // -webkit-line-clamp:2;
          overflow: hidden;
        }
      }
    }
  }
}
