.join-us {


  .content-same {
    padding:88px 0;
    .wrap {
      padding: 0 150px;
      box-sizing: border-box;
    }
    .join-title {
      font-size: 32px;
      padding-bottom: 6px;
      color: #484848;
      margin-bottom: 46px;
      text-align: center;
      position: relative;
      &:after {
        content:'';
        width: 46px;
        height: 4px;
        background-color: #101010;
        position: absolute;
        left:50%;
        bottom: 0;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
      }
    }
    .c-blue {
      color: #0070c9;
    }
  }
  .content-one {
    background: #f6f6f6;
    .c-title {
      font-size: 16px;
      color: #484848;
    }
  }
  .content-two {
    .join-item {
      padding: 16px 0;
      border-bottom: 1px solid #dce0e0;
      cursor: pointer;
      position: relative;
      &:first-child {
        border-top: 1px solid #dce0e0;
      }
    }
    .job-name {
      font-size: 20px;
      color: #484848;
    }
    .hidden {
      display: none;
      padding-top: 16px;
      .job-field {
        font-size: 14px;
        margin-bottom: 16px;
        .head {
          font-size: 18px;
          color: #484848;
          margin-bottom:6px;
        }
      }
      .c-blue {
        font-size: 14px;
      }
    }
    .arrow {
      width: 18px;
      height: 10px;
      background: url(../imgs/join/arrow-top.png) no-repeat;
      position: absolute;
      top:50%;
      right: 0;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
    }
    .more-job {
      display: block;
      text-align: right;
      color: #0070c9;
      padding: 20px 0;
    }
  }
}
