.societyDuty-pages {

  .header-content {
    width: 36%;
    color: #767676;
    margin:0 auto;
    padding:80px 0 80px;
    .module-title {
      text-align: center;
      font-size: 32px;
      color: #101010;
      font-size: 32px;
      padding-bottom: 6px;
      position: relative;
      margin-bottom: 20px;
      &:after {
        content: '';
        width: 46px;
        height: 4px;
        background-color: #101010;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
      }
    }
    .info-text {
      text-align: center;
      line-height: 200%;
      font-size: 16px;
      color: #484848;
      .theam {
        color: #0067be;
        font-size: 24px;
      }
    }
  }
  .bg {
    display: block;
    margin: 0 auto 100px;
  }
}
